node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# build output
docs/dist/
# generated types
docs/.astro/

# dependencies
docs/node_modules/

# logs
docs/npm-debug.log*
docs/yarn-debug.log*
docs/yarn-error.log*
docs/pnpm-debug.log*


# environment variables
docs/.env
docs/.env.production

# macOS-specific files
docs/.DS_Store

