---
// This will automatically redirect from /docs to /docs/en
---

<meta http-equiv="refresh" content="0;url=/docs/en" />

<script>
  window.location.href = "/docs/en";
</script>

<body>
  <p>Redirecting to <a href="/docs/en">documentation</a>...</p>
</body>