@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
layer(base);
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --color-primary: #f2c0ff;
  --color-secondary: #050505;
  --color-on-secondary: #f5f6fa;
  --color-rose: #ff4040;
  --color-text: #f5f6fa;
  --color-background: #141414;

  --shadow-footer: 0 -1px 6px 0px rgba(255, 255, 255, 0.1);

  --animate-move-around-a: moveAroundA 10s alternate infinite;
  --animate-move-around-b: moveAroundB 10s alternate infinite;
  --animate-move-around-c: moveAroundC 10s alternate infinite;

  @keyframes moveAroundA {
    0% {
      transform: translate(0%, 0%);
    }
    100% {
      transform: translate(-110%, 60%);
    }
  }
  @keyframes moveAroundB {
    0% {
      transform: translate(0%, 0%);
    }
    100% {
      transform: translate(-60%, 40%);
    }
  }
  @keyframes moveAroundC {
    0% {
      transform: translate(0%, 0%);
    }
    100% {
      transform: translate(90%, -120%);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  :root {
    --navbar-height: 4rem;
  }

  html,
  body {
    min-height: 100vh;

    width: 100vw;
    max-width: 100vw;

    overflow-x: hidden;
    overflow-y: auto;
  }

  a {
    @apply text-primary;

    text-decoration: none;
    font-weight: medium;
  }

  a:visited {
    @apply text-primary;

    font-weight: medium;
  }

  img:not(.draggable) {
    user-select: none;
    -webkit-user-drag: none;
  }

  [data-no-bullet] li {
    list-style: none !important;
  }

  li {
    list-style-position: inside;
  }

  @media (max-width: 768px) {
    .hide-mobile {
      display: none;
    }
  }

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }
}

@utility babalo {
  @apply absolute h-40 w-40 bg-primary opacity-60 blur-3xl;
}

@layer utilities {
  :root {
    @apply bg-background text-text;

    font-size: 16px;
    font-family: Poppins, Montserrat, 'Segoe UI', Helvetica, 'Noto Sans Mongolian', sans-serif;
  }
}
